logs/
target/
RUNNING_PID
.Dockerfile.swp
.idea/
*.swp
.bsp/
.ssh/
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
universal-application-tool-0.0.1/.bsp/sbt.json
todo.txt
credentials.json
terraform-account.json
